@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <br />
	<img src="~/img/hiltonbropic.jpg" />
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="MovieEntry">Click here to add a movie to the database</a>
</div>
