@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<h2>Here are some fun facts about Joel</h2>

<p>Joel performs often at Quick Wits Comedy Club! </p>

<a href="https://www.qwcomedy.com/" target="_blank">Visit QW Comedy</a>


<a href="https://baconsale.com/" target="_blank">Visit baconsale</a>




<a href="http://byu.app.box.com/s/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4" target="_blank">Visit QW Comedy</a>

<a href="https://baconsale.com/" target="_blank">
	<img src="~/img/baconsale.jpg" />
</a>
